version: '3.8'

services:
  # --- SERVICIO 1: API (BACKEND) ---
  api:
    build: ./backend
    container_name: delivery_api
    restart: always
    environment:
      - PORT=5000
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_DATABASE=${DB_DATABASE}
      - DB_PORT=${DB_PORT}

  # --- SERVICIO 2: TÚNEL NGROK (Apuntando a la API) ---
  tunnel:
    image: ngrok/ngrok:latest
    container_name: delivery_ngrok
    restart: always
    environment:
      # Asegúrate de que este token sea correcto
      - NGROK_AUTHTOKEN=36st9ljso9cQe578DSO6kmRpwek_6tw2H68CLzTYLqbykfXL1
    command:
      - "http"
      # Quitamos el 'https://' del dominio, solo el host
      - "--domain=tugless-eryn-forlornly.ngrok-free.dev"
      # ¡IMPORTANTE! Apuntamos a la API, no a la web
      - "api:5000"
    depends_on:
      - api