version: '3.8'

services:
  # --- SERVICIO 1: API (BACKEND) ---
  api:
    build: ./backend
    container_name: delivery_api
    restart: always
    environment:
      - PORT=5000
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_DATABASE=${DB_DATABASE}
      - DB_PORT=${DB_PORT}

  # --- SERVICIO 2: WEB (FRONTEND + PROXY) ---
  web:
    build: ./frontend
    container_name: delivery_web
    restart: always
    depends_on:
      - api # Espera a que la API inicie
    # No exponemos puertos al exterior porque el túnel accede internamente

  # --- SERVICIO 3: TÚNEL GRATUITO (Cloudflare Quick Tunnel) ---
  tunnel:
    image: ngrok/ngrok:latest
    container_name: delivery_ngrok
    restart: always
    environment:
      - NGROK_AUTHTOKEN=36st9ljso9cQe578DSO6kmRpwek_6tw2H68CLzTYLqbykfXL1
    command:
      -"http"
      - "--domain=https://tugless-eryn-forlornly.ngrok-free.dev"
      - "web:80"
    depends_on:
      - web